@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//about
$padding-about: 95px;

//description
$width-description: 50%;
$width-description-h2: 80%;
$padding-description-p: 40px;
$line-height-description-p: 30px;
$font-size-h2: 2.5rem;
$font-size-description-p: 1.25rem;

//picture
$width-picture: 464px;
$height-picture: 479px;

.about {
    background: variables.$color-secondary;
    .containeer {
        @include containeer;
    }
    .about-block {
        padding: $padding-about;
        .about__elements {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .about__description {
                margin: 0;
                width: $width-description;
                .about__description-h2 {
                    margin: 0;
                    width: $width-description-h2;
                    color: variables.$color-green;
                    font-size: $font-size-h2;
                    font-weight: 500;
                    .orange-word {
                        color: variables.$color-orange;
                    }
                }
                .about__description-p {
                    padding-top: $padding-description-p;
                    font-family: Inter;
                    font-size: $font-size-description-p;
                    line-height: $line-height-description-p;
                }
            }
            .about__picture {
                margin: 0;
                width: $width-picture;
                height: $height-picture;
                background-image: url('../images/houseplant.png');
                background-size: cover;
            }
        }
    }
}