@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//about
$padding-about: 6.5%;

//description
$width-description: 50%;
$width-description-h2: 80%;
$padding-description-p: 5%;
$line-height-description-p: 30px;
$font-size-h2: 2.5rem;
$font-size-description-p: 1.25rem;

//picture
$width-picture: 464px;
$height-picture: 479px;

.about {
    background: variables.$color-secondary;
    .containeer {
        @include containeer;
    }
    .about-block {
        padding: $padding-about 0;
        @media screen and (max-width: 1000px) and (min-width: 381px) {
            padding: 5.5% 0 15%;
        }
        .about__elements {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 1000px) and (min-width: 381px) {
                flex-direction: column;
            }
            .about__description {
                margin: 0;
                width: $width-description;
                @media screen and (max-width: 1000px) and (min-width: 381px) {
                    width: 100%;
                }
                .about__description-h2 {
                    margin: 0;
                    width: $width-description-h2;
                    color: variables.$color-green;
                    font-size: $font-size-h2;
                    font-weight: 500;
                    .orange-word {
                        color: variables.$color-orange;
                    }
                    @media screen and (max-width: 1000px) and (min-width: 381px) {
                        margin: auto;
                        text-align: center;
                        width: 58%;
                        font-weight: 400;
                        font-size: 35px;
                        line-height: 46px;
                    }
                    @media screen and (max-width: 768px) and (min-width: 381px) {
                        font-size: calc(25px + 10*(100vw / 768));
                    }
                    @media screen and (max-width: 720px) and (min-width: 381px) {
                        width: calc(381px + 10*(100vw / 720));
                    }
                }
                .about__description-p {
                    padding-top: $padding-description-p;
                    font-family: Inter;
                    font-size: $font-size-description-p;
                    line-height: $line-height-description-p;
                    @media screen and (max-width: 1000px) and (min-width: 381px) {
                        padding: 7.5% 0 10%;
                    }
                }
            }
            .about__picture {
                margin: 0;
                width: $width-picture;
                height: $height-picture;
                background-image: url('../images/houseplant.png');
                background-size: cover;
                @media screen and (max-width: 1250px) and (min-width: 1001px) {
                    width: 40vw;
                    height: 40vw;
                }
                @media screen and (max-width: 1000px) and (min-width: 381px) {
                    width: 33vw;
                    height: 33vw;
                }
            }
        }
    }
}