@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//contacts
$padding-top: 53px;

//contacts-picture
$width-contact-picture: 22vw;
$height-contact-picture: 27vw;

//contacts-h2
$width-contacts-h2: 20%;
$padding-top-contacts-h2: 8px;
$padding-left-contacts-h2: 40px;
$font-size-contacts-h2: 2.5rem;

//select
$margin-contacts-select: 95px;
$width-contacts-select: 37%;
$padding-contacts-select: 12px;
$font-size-contacts-select-p: 1.3rem;
$padding-left: 22px;
$color-select: #D6E7D2;
$color-shadow: #7c7b7b;
$size-shadow: 5px;

//select-indicator
$select-town-indicator: 16px;
$border-radius-select-town-indicator: 50%;
$margin-select-town-indicator: 35px;
$size-select-town-indicator: 16px;
$color-select-town-indicator: #AEA1A1;

.contacts {
    background: variables.$color-primary;
    font-family: Inter;
    .containeer {
        @include containeer;
    }
    .contacts-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: $padding-top;
        @media screen and (max-width: 1000px) and (min-width: 381px) {
            padding-top: 4%;
            flex-direction: column;
            align-items: center;
            .contacts-h2 {
                order: 1;
            }
            .contacts-select {
                order: 2;
            }
            .contacts-picture {
                order: 3;
            }
        }
        .contacts-picture {
            margin: 0;
            width: $width-contact-picture;
            height: $height-contact-picture;
            background-image: url("../images/contact_woman.png");
            background-size: cover;
            @media screen and (max-width: 1000px) and (min-width: 381px) {
                margin-top: 22%;
                width: 24vw;
                height: 32.5vw;
            }
        }
        .contacts-h2 {
            margin: 0;
            width: $width-contacts-h2;
            padding-top: $padding-top-contacts-h2;
            padding-left: $padding-left-contacts-h2;
            text-align: center;
            font-size: $font-size-contacts-h2;
            font-family: Inika;
            color: variables.$color-green;
            @media screen and (max-width: 1150px) and (min-width: 1001px) {
                width: 25%;
            }
            @media screen and (max-width: 1000px) and (min-width: 381px) {
                width: 100%;
                padding-left: 0;
            }
        }
        .contacts-select {
            margin: $margin-contacts-select 0;
            width: $width-contacts-select;
            background-color: #D6E7D2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $padding-contacts-select 0;
            box-shadow: 0px $size-shadow $size-shadow $color-shadow;
            @media screen and (max-width: 1000px) and (min-width: 381px) {
                width: 67.5%;
                margin: 15%;
            }
            .contacts-select-p {
                margin: 0;
                font-size: $font-size-contacts-select-p;
                padding-left: $padding-left;
            }
            .contacts-select-indicator {
                width: $select-town-indicator;
                height: $select-town-indicator;
                border-radius: $border-radius-select-town-indicator;
                margin-right: $margin-select-town-indicator;
                width: $size-select-town-indicator;
                height: $size-select-town-indicator;
                background-color: $color-select-town-indicator;
                background-image: url("../icons/arrow_contacts.svg");
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}