@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//header
$font-size-header: 1rem;
$color-header: #010201;
$margin-header: 12.5%;

//logo
$padding-logo-img: 12%;

//navigation
$width-navigation: 37%;

.header {
    background-color: variables.$color-primary;
    color: $color-header;
    font-size: $font-size-header;
    .containeer {
        @include containeer();
    }
    .header-block {
        .header-block__h1 {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        .logo {
            margin-left: 0;
            display: flex;
            justify-content: flex-start;
            .logo__img {
                padding-bottom: $padding-logo-img;
            }
        }
        .navigation {
            width: $width-navigation;
            margin-right: 0;
            .navigation__elements {
                display: flex;
                justify-content: space-between;
                .navigation__elements-li {
                    cursor: pointer;
                    margin: $margin-header 0;
                    a {
                        scroll-behavior: smooth;
                        color: $color-header;
                        transition: 0.2s linear;
                    }
                }
                .navigation__elements-li:hover {
                    a {
                        color: variables.$color-orange;
                    }
                }
            }
        }
    }
}