@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

$font-size-header: 1rem;
$font-color-header: #010201;
$padding-logo-img: 10px;
$width-navigation: 37%;
$margin-header: 12.5%;

.header {
    background-color: variables.$color-primary;
    color: $font-color-header;
    font-size: $font-size-header;
    .containeer {
        @include containeer();
    }
    .header-block {
        .header-block__h1 {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        .logo {
            margin-left: 0;
            display: flex;
            justify-content: flex-start;
            .logo__img {
                padding-bottom: $padding-logo-img;
            }
        }
        .navigation {
            width: $width-navigation;
            margin-right: 0;
            .navigation__elements {
                display: flex;
                justify-content: space-between;
                .navigation__elements-li {
                    margin: $margin-header 0;
                    a {
                        color: $font-color-header;
                    }
                }
            }
        }
    }
}