@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//prices-choice
$padding-prices-top: 42px;
$padding-prices-bottom: 105px;

//choice
$width-prices-choice: 45%;

//prices-h2
$margin-h2: 60px;
$font-size-h2: 2.5rem;
$color-prices: #000000;

//choice
$border-radius-choice: 20px;
$width-choice: 332px;
$padding-choice: 2px;
$border-radius-choice: 20px;
$width-choice-rate: 76%;
$margin-choice-rate: 32px;
$padding-choice-rate-p: 12px;
$font-size-choice-rate-p: 1.3rem;
$color-primary: #EDF2EC;

//choice-rate-indicator
$border-radius-choice-rate-indicator: 50%;
$margin-choice-rate-indicator: 40px;
$size-choice-rate-indicator: 16px;
$color-choice-rate-indicator: #D9D9D9;

//help
$width-prices-help: 40%;
$width-prices-help-p: 100%;
$size-prices-help-p: 2.5rem;
$letter-spacing-prices-help-p: 0.6px;
$width-prices-help-picture: 152px;
$height-prices-help-picture: 175px;

.prices {
    background: variables.$color-secondary;
    font-family: Inter;
    .containeer {
        @include containeer;
    }
    .prices-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $padding-prices-top 0 $padding-prices-bottom;
        @media screen and (max-width: 1200px) and (min-width: 768px) {
            padding: 3.5% 0 13%;
        }
        @media screen and (max-width: 767px) {
            display: block;
            margin: auto;
            padding: 6.5% 0 5%;
        }
        .prices-choice {
            width: $width-prices-choice;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (max-width: 767px) {
                margin: auto;
                width: 100%;
            }
            .prices-h2 {
                margin: 0 0 $margin-h2;
                font-size: $font-size-h2;
                color: $color-prices;
                @media screen and (max-width: 1200px) and (min-width: 768px) {
                    font-size: 35px;
                }
                @media screen and (max-width: 767px) {
                    font-size: calc(25px + (100vw / 767));
                    margin: auto;
                }
            }
            .choice {
                width: $width-choice;
                margin: 0;
                padding: $padding-choice;
                border-radius: $border-radius-choice;
                border: 1px solid $color-primary;
                @media screen and (max-width: 767px) {
                    margin: auto;
                    width: 67%;
                    margin-top: 11%;
                    padding: 5% 0;
                }
                .choice-rate {
                    display: flex;
                    flex-direction: wrap;
                    justify-content: space-between;
                    align-items: center;
                    width: $width-choice-rate;
                    margin-top: $margin-choice-rate;
                    border-radius: $border-radius-choice;
                    background-color: $color-primary;
                    margin-bottom: $margin-choice-rate;
                    @media screen and (max-width: 767px) {
                        width: 82%;
                        margin: 5.5% auto;
                    }
                    .choice-rate-p {
                        margin: 0;
                        color: $color-prices;
                        font-weight: 700;
                        font-size: $font-size-choice-rate-p;
                        padding: $padding-choice-rate-p 0 $padding-choice-rate-p calc($padding-choice-rate-p*3.1); 
                        @media screen and (max-width: 767px) {
                            width: 55%;
                            padding: 8.5% 0;
                            padding-left: 18%;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                    .choice-rate-indicator {
                        border-radius: $border-radius-choice-rate-indicator;
                        margin: 0;
                        margin-right: $margin-choice-rate-indicator;
                        width: $size-choice-rate-indicator;
                        height: $size-choice-rate-indicator;
                        background-color: $color-choice-rate-indicator;
                        background-image: url("../icons/arrow_prices.svg");
                        background-size: 40%;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        .prices-help {
            width: $width-prices-help;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @media screen and (max-width: 1200px) {
                margin-top: 15%;
                width: 42%;
            }
            @media screen and (max-width: 767px) {
                margin: auto;
                margin-top: 5.5%;
                width: 100%;
            }
            .prices-help-p {
                width: $width-prices-help-p;
                margin: 0;
                font-weight: 700;
                text-align: right;
                font-size: $size-prices-help-p;
                letter-spacing: $letter-spacing-prices-help-p;
                color: $color-prices; 
                .green-word {
                    color: variables.$color-green;
                }
                @media screen and (max-width: 1000px) and (min-width: 768px) {
                    font-size: calc(24px + 10*(100vw / 1000));
                    line-height: 35px;
                }
                @media screen and (max-width: 767px) {
                    width: 70%;
                    margin: auto;
                    text-align: center;
                    font-size: calc(19px + (100vw / 768));
                    line-height: 35px;
                }
            }
            .prices-help-button {
                margin: 44px 0;
                button {
                    @include button;
                    background-color: variables.$color-secondary;
                    @media screen and (max-width: 700px) {
                        width: 121px;
                        font-size: 15px;
                        padding: 7px 0;
                    }
                }
                @media screen and (max-width: 1200px) and (min-width: 701px) {
                    margin: 9% 0;
                }
                @media screen and (max-width: 700px) {
                    margin: 6% auto;
                }
            }
            .prices-help-picture {
                width: $width-prices-help-picture;
                height: $height-prices-help-picture;
                margin: 0;
                background-image: url("../images/leafs_mini.png");
                background-size: cover;
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}