@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//service-elements
$padding-service-elements: 35px;

//menu
$margin-service-menu: 25px;
$width-h2: 30%;
$width-controls: 49%;
$font-size-h2: 2.5rem;
$margin-service-controls: 62px;

//cards
$width: 27%;
$font-size-card-h3: 1.3rem;
$margin-bottom-cards: 80px;
$margin-top-card: 55px;
$margin-bottom-card-img: 7px;
$padding-top-card-p: 12px;
$padding-bottom-card-p: 35px;
$border-color-card: #E3E1D5;
$border-radius-card: 20px;

.service {
    background: variables.$color-primary;
    .containeer {
        @include containeer;
    }
    .service-block {
        .service-elements {
            padding: $padding-service-elements 0;
            .service-elements__menu {
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: $margin-service-menu;
                @media screen and (max-width: 900px) and (min-width: 381px) {
                    display: block;
                }
                .service-elements-h2 {
                    width: $width-h2;
                    margin: 0;
                    font-size: $font-size-h2;
                    font-weight: 400;
                    color: variables.$color-green;
                    @media screen and (max-width: 1000px) and (min-width: 769px) {
                        font-size: 35px;
                    }
                    @media screen and (max-width: 900px) and (min-width: 381px) {
                        width: 50%; 
                        margin: 3% 0 6.5%;
                    }
                    @media screen and (max-width: 768px) and (min-width: 381px) {
                        font-size: calc(25px + 10*(100vw / 768));
                        line-height: 46px;
                    }
                }
                .controls {
                    width: $width-controls;
                    margin-left: $margin-service-controls;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .button {
                        @include button()
                    }
                    @media screen and (max-width: 1200px) and (min-width: 1001px) {
                        width: 60%;
                    }
                    @media screen and (max-width: 1000px) and (min-width: 901px) {
                        margin: 0;
                        width: 70%;
                    }
                    @media screen and (max-width: 900px) and (min-width: 700px) {
                        width: 83%;
                        margin: 0;
                        .controls__button {
                            margin: 0;
                        }
                    }
                    @media screen and (max-width: 700px) and (min-width: 381px) {
                        width: 83%;
                        margin: 0;
                        flex-wrap: wrap;
                        justify-content: start;
                        .controls__button {
                            margin: 1%;
                            margin-right: 2%;
                        }
                    }
                }
            }
            .service-elements__cards {
                margin: 0;
                margin-bottom: $margin-bottom-cards;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media screen and (max-width: 900px) and (min-width: 381px) {
                    margin-bottom: 2%;
                }
                .card {
                    margin: 0;
                    margin-top: $margin-top-card;
                    width: 27%;
                    border: 1px solid $border-color-card;
                    border-radius: $border-radius-card;
                    @media screen and (max-width: 1200px) and (min-width: 901px) {
                        width: 32%; 
                    }
                    @media screen and (max-width: 900px) and (min-width: 381px) {
                        width: 42%; 
                        margin: 2% 0 3.5%;
                    }
                    .card-img {
                        width: 100%;
                        display: block;
                        margin-bottom: $margin-bottom-card-img;
                    }
                    .card-img-mob {
                        width: 100%;
                        display: none;
                        margin-bottom: $margin-bottom-card-img;
                    }
                    .card-h3 {
                        text-align: center;
                        font-family: Inter;
                        color: variables.$color-orange;
                        font-size: $font-size-card-h3;
                        font-weight: bold;
                    }
                    .card-p {
                        text-align: center;
                        font-family: Inter;
                        padding: $padding-top-card-p 0 $padding-bottom-card-p;
                    }   
                    @media screen and (max-width: 768px) and (min-width: 381px) {
                        .card-p {
                            width: 75%;
                            padding: 2% 0 7%;
                        }
                        .card-img {
                            display: none;
                        }
                        .card-img-mob {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}