@use '../abstracts/mixins' as *;
@use '../abstracts/variables';

//welcome-elements
$padding-welcome-elements: 62px;
$padding-welcome-p: 42px;

//welcome-picture
$width-picture: 448.8px;
$height-picture: 409.8px;

//welcome-description
$width-description: 45%;
$width-description-p: 95%;
$padding-description-p: 42px;
$font-size-h2: 2.7rem;
$letter-spacing-h2: 1.8px;
$font-size-description-p: 1.25rem;
$line-height-description-p: 35px;

//welcome-button
$width-welcome-button: 157.8px;
$margin-top-welcome-button: 5px;
$padding-welcome-button: 12px;
$font-size-welcome-button: 1rem;
$border-radius-welcome-button: 10px;

.welcome {
    background: variables.$color-primary;
    .containeer {
        @include containeer;
    }
    .welcome-block {
        .welcome-elements {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $padding-welcome-elements 0;
            @media screen and (max-width: 1200px) {
                align-items: flex-start;
                padding: 5.5% 0 10%;     
                .welcome__picture {
                    order: 2;
                }
                .welcome__description {
                    order: 1;
                }
            }
            @media screen and (max-width: 1200px) {
                padding: 5.5% 0 7%;
            }
            .welcome__picture {
                width: $width-picture;    
                height: $height-picture;
                margin: 0;
                background-image: url("../images/leafs.png");
                background-size: cover;
                @media screen and (max-width: 1200px) and (min-width: 768px) {
                    width: 37vw;
                    height: 34vw;
                }
                @media screen and (max-width: 767px) and (min-width: 551px) {
                    width: 40vw;
                    height: 35vw;
                }
                @media screen and (max-width: 550px) {
                    display: none;
                }
            }
            .welcome__description {
                margin: 0;
                width: $width-description;
                font-family: Inter;
                @media screen and (max-width: 1250px) and (min-width: 768px) {
                    width: 55%;
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
                .welcome__description-h2 {
                    font-size: $font-size-h2;
                    font-weight: 700;
                    letter-spacing: $letter-spacing-h2;
                    .green-word {
                        color: variables.$color-green;
                    }
                    @media screen and (max-width: 1000px) and (min-width: 768px) {
                        font-size: 35px;
                        line-height: 50px;
                        letter-spacing: 0.8px;
                    }
                    @media screen and (max-width: 767px) {
                        margin-top: 10px;
                        font-size: 25px;
                        line-height: 35px;
                        letter-spacing: 0.5px;
                    }
                }
                .welcome__description-p {
                    width: $width-description-p;
                    margin: 0;
                    font-size: $font-size-description-p;
                    line-height: $line-height-description-p;
                    padding: $padding-description-p 0;
                    @media screen and (max-width: 1000px) and (min-width: 768px) {
                        width: 90%;
                        padding: 8% 0;
                        padding-left: 1%;
                        line-height: 25px;
                        font-size: calc(15.5px + (100vw / 1000));
                    }
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        padding: 6.5% 0;
                        font-size: 1rem;
                        line-height: 25px;
                    }
                }
                .button {
                    margin-top: $margin-top-welcome-button;
                    .button-learn {      
                        margin: 0;
                        font-size: $font-size-welcome-button;
                        width: $width-welcome-button;
                        text-transform: uppercase;
                        text-align: center;
                        padding: $padding-welcome-button 0;
                        border: 2px solid variables.$color-orange;
                        border-radius: $border-radius-welcome-button;
                        transition: 0.2s linear;
                        cursor: pointer;
                        &:hover {
                            color: variables.$color-secondary;
                            background-color: variables.$color-orange;
                        }
                        @media screen and (max-width: 767px) {
                            width: 30.5%;
                            padding: 3% 0;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}