@use "./variables";

$width-containeer: 85%;

$width-button: 161px;
$padding-button: 11px;
$font-size-button: 1.25rem;
$border-radius-button: 5px;

@mixin containeer() {
    width: $width-containeer;
    @media screen and (max-width: 768px) and (min-width: 380px) {
        width: 87%;
    }
}
@mixin button (){
    width: $width-button;
    color: variables.$color-orange;
    text-align: center;
    font-family: Inika;
    font-size: $font-size-button;
    padding: $padding-button 0;
    border: 2px solid variables.$color-orange;
    border-radius: $border-radius-button;
    transition: 0.2s linear;
    cursor: pointer;
    // &:hover {
    //     color: variables.$color-secondary;
    //     background-color: variables.$color-orange;
    // }
}