@use "./variables";

$width-containeer: 1222px;

$width-button: 161px;
$padding-button: 11px;
$font-size-button: 1.25rem;
$border-radius-button: 5px;

@mixin containeer() {
    max-width: $width-containeer;
}
@mixin button (){
    width: $width-button;
    color: variables.$color-orange;
    text-align: center;
    font-family: Inika;
    font-size: $font-size-button;
    padding: $padding-button 0;
    border: 2px solid variables.$color-orange;
    border-radius: $border-radius-button;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover {
        color: variables.$color-secondary;
        background-color: variables.$color-orange;
    }
}