$background-color: #EDF2EC; 
$background-color-about: #FFFFFF;
$font-color: #717171;
$font-color-header: #010201;
$font-color-green-word: #499A18;
$font-color-orange-word: #E06733;
$font-size-header: 1rem;
$font-size-welcome-h2: 2.8rem;
$font-size-welcome-p: 1.25rem;
$font-size-about-h2: 2.5rem;
$font-size-about-p: 1.25rem;
$font-size-service-h2: 2.5rem;
$font-size-card-h3: 1.3rem;

$navigation-width: 37%;
$margin-header: 12.5%;
$margin-service-controls: 60px;
$margin-service-menu: 25px;
$margin-top-card: 50px;
$margin-bottom-card-img: 10px;
$margin-bottom-service-elements__cards: 80px;

$body-width: 1440px;
$padding-logo-img: 10px;
$padding-welcome: 62px;
$padding-welcome-p: 42px;
$padding-about: 93px;
$padding-about-p: 40px;
$padding-service-elements: 40px;
$padding-top-card-p: 12px;
$padding-bottom-card-p: 35px;
$border-color-card: #E3E1D5;
$border-radius-card: 20px;

$line-height-welcome-p: 35px;
$line-height-about-p: 30px;
$button-welcome-width: 157.8px;
$button-width: 161px;
$button-welcome-margin-top: 2px;
$button-welcome-padding: 12px;
$button-border-color: #E06733;
$button-welcome-font-size: 1rem;
$button-welcome-border-radius: 10px;
$button-padding: 11px;
$button-font-size: 1.2rem;
$button-border-radius: 5px;
