$background-color: #EDF2EC; 
$font-color: #717171;
$font-color-header: #010201;
$font-color-green-word: #499A18;
$font-size-header: 1rem;
$font-size-welcome-h2: 2.8rem;
$font-size-welcome-p: 1.25rem;
$navigation-width: 37%;
$margin-header: 12.5%;
$body-width: 1440px;
$padding-logo-img: 10px;
$padding-welcome: 62px;
$padding-welcome-p: 42px;
$line-height-welcome-p: 35px;
$button-width: 157.8px;
$button-margin-top: 2px;
$button-padding: 12px;
$button-border-color: #E06733;
$button-font-size: 1rem;
$button-border-radius: 10px;
